<div class="row">
  &nbsp;
</div>
<div class="row">
  <div class="small-12 columns">
    {{textarea value=newMessage placeholder="what's happening?"}}
    <button {{action 'sendMessage'}} class="button small">send</button>
    {{#if isPolling}}
      <img src="assets/ajax-loader.gif" />
    {{/if}}
  </div>
  <hr>
</div>
<div style='width: 100%; max-width: 100%; height:100%; overflow: auto'>
  {{#each chat in arrangedContent}}
  <div class="row">
    <div class="small-1 columns">
      {{gravatar-image email=chat.user.email alt=chat.user.username size="48"}}
    </div>
    <div class="small-9 columns">
      <h5>{{chat.user.username}}</h5>
      {{chat.message}}
    </div>
    <br><br>
    <hr>
  </div>
  {{/each}}
</div>
